---
---

@import "{{ site.theme }}";

.headshots {
  border-radius: 50%;
  float: middle; 
  max-width:100%;  
}
.names {
  font-size: small;
}

#contributor-table {
  table-layout: fixed;
  border: none;
}
#contributor-table td { 
  border: 0px; 
  width: 14.28%; 
  vertical-align: center; 
  text-align:center; 
}
