---
---

@import "{{ site.theme }}";

.headshots {
  border-radius: 50%;
  float: middle; 
  width:
  #max-width:100%;  
}
.names {
  /*white-space: nowrap*/
}

/*#contributor-table {
  table-layout: fixed;
  border: none;
}*/
#contributor-table td { 
  table-layout: fixed;
  border: 0px; 
  width:14.28%; 
  vertical-align: center; 
  text-align:center; 
}
