---
---

@import "{{ site.theme }}";

.headshots {
  border-radius: 50%;
  float: middle; 
  max-width:100%;  
}
.names {
  /*white-space: nowrap*/
}

#contributor-table {
  table-layout: fixed;
  border: none;
}
